## Preprocess data

We need to fetch the data and get specific columns. We'll then try and create some different tables to see how many records we have for each epitope. This way we can use them for different classifiers or one multiclassifier (combine them into one table).

In [40]:
import pandas as pd
df = pd.read_csv('./data/vdjdb.txt', sep="\t")

In [41]:
## Select the columns we need
selected_features = df[['gene','cdr3','v.segm','j.segm','species','mhc.a','mhc.b','mhc.class','antigen.epitope','antigen.species','vdjdb.score']]

In [42]:
## Select all human data
human_data = selected_features[(selected_features['species'] == 'HomoSapiens') & (selected_features['vdjdb.score'] > 0)]
TRB = human_data[human_data['gene'] =='TRB']

In [43]:
beta_chains = TRB[['cdr3', 'v.segm', 'j.segm']]
beta_chains.rename(columns={'cdr3':'cdr3_b_aa','v.segm':'v_b_gene', 'j.segm':'j_b_gene'}, inplace=True)
beta_chains

C:\Users\adnan\AppData\Local\Temp\ipykernel_10620\2028888535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beta_chains.rename(columns={'cdr3':'cdr3_b_aa','v.segm':'v_b_gene', 'j.segm':'j_b_gene'}, inplace=True)

                  cdr3_b_aa    v_b_gene    j_b_gene
1      CASSYLPGQGDHYSNQPQHF   TRBV13*01  TRBJ1-5*01
2       CASSFEAGQGFFSNQPQHF   TRBV13*01  TRBJ1-5*01
4       CASSFEPGQGFYSNQPQHF   TRBV13*01  TRBJ1-5*01
6      CASSYEPGQVSHYSNQPQHF   TRBV13*01  TRBJ1-5*01
8            CASSALASLNEQFF   TRBV14*01  TRBJ2-1*01
...                     ...         ...         ...
92682         CASSLRATDTQYF  TRBV7-2*01  TRBJ2-3*01
92684       CATSRAGGGGEKLFF   TRBV15*01  TRBJ1-4*01
92686        CASSQGSGGNEQFF  TRBV4-3*01  TRBJ2-1*01
92690      CASSIVGSGGYNEQFF   TRBV19*01  TRBJ2-1*01
92768       CASSLGAGGQETQYF  TRBV5-1*01  TRBJ2-5*01

[6671 rows x 3 columns]

In [44]:
from tcrdist.repertoire import TCRrep
tr = TCRrep(cell_df = beta_chains, 
            organism = 'human', 
            chains = ['beta'], 
            db_file = 'alphabeta_gammadelta_db.tsv')

C:\Users\adnan\anaconda3\envs\adv_data_analytics3\lib\site-packages\tcrdist\repertoire.py:159: UserWarning: cell_df needs a counts column to track clonal number of frequency

  self._validate_cell_df()
C:\Users\adnan\anaconda3\envs\adv_data_analytics3\lib\site-packages\tcrdist\repertoire.py:791: UserWarning: No 'count' column provided; count column set to 1
  warnings.warn("No 'count' column provided; count column set to 1")
C:\Users\adnan\anaconda3\envs\adv_data_analytics3\lib\site-packages\tcrdist\repertoire.py:792: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.cell_df['count'] = 1
C:\Users\adnan\anaconda3\envs\adv_data_analytics3\lib\site-packages\tcrdist\repertoire.py:833: FutureWarning: The provided callable <function sum at 0x0000015F61FDED30> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  clones = cell_df.groupby(index_cols)['count'].agg(np.sum).reset_index()
C:\Users\adnan\anaconda3\envs\adv_data_analytics3\lib\site-packages\tcrdist\repertoire.py:190: UserWarning: Not all cells/sequences could be grouped into clones.75 of 6671 were not captured. This occurs when any of the values in the index columns are null or missing for a given sequence. To see entries with missing values use: tcrdist.repertoire.TCRrep._show_incomplete()
  self.deduplicate()

In [45]:
beta_chain_matrix = tr.pw_cdr3_b_aa

In [46]:
beta_distances = pd.DataFrame(beta_chain_matrix)

In [47]:
beta_distances

,0,1,2,3,4,5,6,7,8,9,...,4457,4458,4459,4460,4461,4462,4463,4464,4465,4466
0,0,38,36,32,36,38,34,36,36,36,...,31,34,36,20,46,36,23,40,34,33
1,38,0,23,26,24,7,31,32,28,36,...,26,24,27,28,56,32,24,40,32,36
2,36,23,0,30,24,20,23,34,24,32,...,27,18,26,24,54,16,19,52,36,26
3,32,26,30,0,32,26,24,28,27,36,...,30,28,32,31,54,27,28,42,38,35
4,36,24,24,32,0,24,24,32,28,32,...,24,20,24,20,55,28,24,48,28,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4462,36,32,16,27,28,32,23,27,27,32,...,27,22,24,28,51,0,20,50,29,20
4463,23,24,19,28,24,24,28,28,27,32,...,28,22,31,13,53,20,0,51,32,30
4464,40,40,52,42,48,39,48,52,49,47,...,47,52,47,47,38,50,51,0,35,47
4465,34,32,36,38,28,36,26,36,35,32,...,28,36,28,35,42,29,32,35,0,32
4466,33,36,26,35,28,36,30,36,32,36,...,28,24,28,29,44,20,30,47,32,0